@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Rubik:wght@400;500;600&display=swap');

:root {
    --black: #020403;
    --gray: #ADADAD;
    --white: #FFFFFF;
    --fondito: rgba(28, 22, 22, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Rubik', sans-serif;
}

@media (min-width:375px) {
    body {
        background-color: var(--black);
        font-size: 16px;
    }

    .container {
        background-color: var(--black);
        color: var(--white);
        margin-top: 80px;
        position: relative;
        z-index: 50;
        width: 100%;
    }

    .menu{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        z-index: 300;
    }

    .nav{
        background-color: var(--fondito);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        gap: 1em;
        z-index: 200;
        width: 100%;
        text-align: center;
        margin-top: -110%;
        transition: margin-top 0.5s;
    }

    .show_nav{
        margin-top: 0%;
    }

    .nav a{
        text-decoration: none;
        color: var(--white);
        padding: 1em;
        transition:background-color 0.5s ;
    }

    .nav a:hover{
        background-color: var(--black);
    }


    .introduccion {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;

    }

    .imagenperfil{
        border-radius: 3em;
        position: relative;
        z-index: 100;
    }

    .introduccion img {
        width: 10em;
        align-self: center;
        
    }

    .introduccion_texto {
        margin-top: 20px;
    }

    .introduccion_texto h1 {
        font-size: 40px;
        font-weight: 500;
    }

    .introduccion_texto p {
        font-size: 25px;
        font-weight: 400;
        color: var(--gray);
    }

    .introduccion__redes {
        display: flex;
        justify-content: center;
        gap: 1.4em;
        margin-top: .5em;
    }

    .introduccion__redes img {
        width: 40px;
    }

    /***********************Acerca de mí*************************/

    .acerca_de_mi {
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 8em;
    }

    .acerca_de_mi h2 {
        font-size: 25px;
        font-weight: 500;
    }

    .acerca_de_mi p {
        text-align: center;
        color: var(--gray);
    }

    /********************Mis habilidades************************/

    .mis_habilidades {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1em;
        justify-content: space-around;
        gap: 1em;
        margin-top: 2em;
    }

    .mis_habilidades h2 {
        align-self: flex-start;
        width: 100%;
        font-size: 25px;
        font-weight: 500;
    }

    .mis_habilidades__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 47%;
        gap: 0.5em;

    }

    .mis_habilidades__item__img {
        background-color: var(--fondito);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;

    }

    .mis_habilidades__item__img img{
     width: 50px;
     height: 50px;
        align-self: center;
    }

    .mis_habilidades__item p {
        font-size: 18px;
        display: inline-block;
    }

    /******************Experiencia*************************/
    .experiencia {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        padding: 1em;
        margin-top: 2em;
    }

    .experiencia h2 {
        font-size: 25px;
    }

    .experiencia__experiencias {
        display: flex;
        justify-content: space-between;
    }

    .experiencia__linea {
        width: 100%;
        height: 1px;
        background-color: var(--gray);
    }

    .experiencia__empresas {
        width: 55%;
    }

    .experiencia__experiencias--años {
        color: var(--gray);
    }

    .empresa {
        color: var(--gray);
    }

    .empresa_puesto {
        font-weight: 500;
    }


    /******************* Portafolio ************************/

    .portafolio {
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
    }

    .portafolio h2 {
        font-size: 25px;
    }

    .portafolio__img {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .portafolio img {
        width: 100%;
        max-width: 400px;
        
    }

    /******************* Contacto ***************************/
    .contacto{
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin-bottom: 100px;
        gap: 2em;
        margin-top: 2em;
    }

    .contacto h2{
        font-size: 25px;
    }


    .contacto__medios{
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 0.5em;
    }

    .contacto__medios img{
        width: 40px;
        height: 40px;
    }

    .contacto__medios p{
        font-size: 15px;
        font-weight: 400;
        display: inline-block;
    }

    .contacto__medio{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-between;
    }

    .imagen__radio{
        width: 60px;
        min-height: 60px;
        border-radius: 50%;
        border: solid 1px var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .Contacto__medio__p{
        color: var(--gray);
    }
}


/************** 900 ************/
@media (min-width:900px){
    body {
        background-color: var(--black);
        font-size: 18px;
    }

    .container {
        color: var(--white);
        margin-top: 80px;
        position: relative;
        z-index: 50;
        width: 100%;
        padding: 5em;
    }

    .menu{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        z-index: 300;
    }

    .nav{
        background-color: var(--fondito);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        gap: 1em;
        z-index: 200;
        width: 100%;
        text-align: center;
        margin-top: -110%;
        transition: margin-top 0.5s;
    }

    .show_nav{
        margin-top: 0%;
    }

    .nav a{
        text-decoration: none;
        color: var(--white);
        padding: 1em;
        transition:background-color 0.5s ;
    }

    .nav a:hover{
        background-color: var(--black);
    }


    .introduccion {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;

    }

    .imagenperfil{
        border-radius: 3em;
        position: relative;
        z-index: 100;
    }

    .introduccion img {
        width: 17em;
        align-self: center;
        
    }

    .introduccion_texto {
        margin-top: 20px;
    }

    .introduccion_texto h1 {
        font-size: 60px;
        font-weight: 500;
    }

    .introduccion_texto p {
        font-size: 40px;
        font-weight: 400;
        color: var(--gray);
    }

    .introduccion__redes {
        display: flex;
        justify-content: center;
        gap: 1.4em;
        margin-top: .5em;
    }

    .introduccion__redes img {
        width: 60px;
    }

    /***********************Acerca de mí*************************/

    .acerca_de_mi {
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 8em;
        text-align: center;
    }

    .acerca_de_mi h2 {
        font-size: 40px;
        font-weight: 500;
    }

    .acerca_de_mi p {
        text-align: center;
        color: var(--gray);
    }

    /********************Mis habilidades************************/

    .mis_habilidades {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1em 5em;
        justify-content: space-around;
        gap: 1em;
        margin-top: 2em;
    }

    .mis_habilidades h2 {
        align-self: flex-start;
        width: 100%;
        font-size: 40px;
        font-weight: 500;
    }

    .mis_habilidades__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 47%;
        gap: 0.5em;

    }

    .mis_habilidades__item__img {
        background-color: var(--fondito);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;

    }

    .mis_habilidades__item p {
        font-size: 18px;
        display: inline-block;
    }

    /******************Experiencia*************************/
    .experiencia {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        padding: 1em;
        margin-top: 2em;

    }

    .experiencia h2 {
        font-size: 40px;
        align-self: center;
    }

    .experiencia__experiencias {
        display: flex;
        justify-content: space-between;
    }

    .experiencia__linea {
        width: 100%;
        height: 1px;
        background-color: var(--gray);
    }

    .experiencia__empresas {
        width: 55%;
    }

    .experiencia__experiencias--años {
        color: var(--gray);
    }

    .empresa {
        color: var(--gray);
    }

    .empresa_puesto {
        font-weight: 500;
    }


    /******************* Portafolio ************************/

    .portafolio {
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
    }

    .portafolio h2 {
        font-size: 40px;
        align-self: center;
    }

    .portafolio__img {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .portafolio img {
        width: 100%;
    }

    /******************* Contacto ***************************/
    .contacto{
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin-bottom: 100px;
        gap: 2em;
        margin-top: 2em;
        justify-content: center;
    }

    .contacto h2{
        font-size: 40px;
        align-self: center;
    }


    .contacto__medios{
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
    }

    .contacto__medios img{
        width: 40px;
        height: 40px;
    }

    .contacto__medios p{
        font-weight: 400;
        display: flex;
        justify-content: center;
    }

    .contacto__medio{
        display: flex;
        width: 20%;
    }

    .imagen__radio{
        width: 60px;
        min-height: 60px;
        border: solid 1px var(--gray);
    }

    .Contacto__medio__p{
        color: var(--gray);
    }
}


